---
layout: default
---
{% assign posts_count = paginator.posts | size %}

<div class="home">
        <h3></h3>
        <p>
            I am a senior undergraduate at the <a href="https://iitk.ac.in">Indian Institute of Technology, Kanpur</a> interested in various aspects of Computer Science on the Theoretical side. I am also interested in application of algorithms for Social good. I was previously at Microsoft Research and was part of a project aimed at using Machine Learning for first response during disaster situations. I have worked to make AI algorithms for speech more accessible by developing models for
            accented speech generation. 

            More of my recent work has been on the theoretical side where I have been exploring Algorithmic notions of Randomness and Ergodic systems. I have also been looking at optimization techniques that use Langevin dynamics and other processes for convex and non convex functions. I also have been looking at graph sparsification using Spectral Graph theory. For information checkout any of the recent blog posts or the <a href="/projects/">projects page</a> 
            <blockquote>
                Nothing is more practical than a good theory!
            </blockquote> 
        </p>
        <p style="visibility:hidden">
            <a href="/hint">
                dolor sit amet
            </a>
        </p>
        <h3>For more information about me visit the <a href="/about/">about page</a></h3>
  {% if posts_count > 0 %}
    <div class="posts">
      {% for post in site.posts %}
        <div class="post py3">
          <p class="post-meta">{{ post.date | date: site.date_format }}</p>
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="h1 post-title">{{ post.title }}</h3></a>
          <span class="post-summary">
            {% if post.summary %}
              {{ post.summary }}
            {% else %}
              {{ post.excerpt }}
            {% endif %}
          </span>
        </div>
      {% endfor %}
    </div>

    {% include pagination.html %}
  {% else %}
    <h1 class='center'>{{ site.text.index.coming_soon }}</h1>
  {% endif %}
</div>
