<div class="py2 post-footer">
  <img src="{{ site.baseurl }}/images/me.jpeg" alt="John Otander" class="avatar" />
  <p>
    If you like my ideas, and think you would be interested in working with me, please <a href="/contact">contact</a> me or drop me an email. If you would like access to some of the figures or the content that has been presented above, please cite them after dropping me an <a href="mailto:prannay.khosla@gmail.com">email</a> so I can keep track of that. Please always feel free to write to me about any concerns, queries or any sort of qualms with respect to my writings.   
  </p>
  <p>
    Follow me on <a href="https://twitter.com/prannaykhosla">Twitter</a>.
  </p>
</div>
